CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
asan*.txt
lsan*.txt
ubsan*.txt
.clang*
.cache
build
example.cpp
build_web
cpstd
cpl.h
